#map {
  height: 425px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #cdfb6c;
  align: center;
  text-color: white;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
table {
  text-align: center;
  align = center;
  padding-top: 0px;
  width: 100%;
}
h1{
  width: 10;
  align-self: center;
  text-align = center;
  padding-bottom: 0px;
  padding-left: 45%;
}
td{
  align: center;
  width: 25%;
}
li, ul, ol{
  text-align: center;
  display: inline-block;
}
